.jumbotron { 
    
    background:
        /* colour overlay */
        linear-gradient(
            rgba(66, 134, 244, 0.45), 
            rgba(0, 0, 0, 0.45)
        ),
        /* image */
        url("../assets/img/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grow {
    transition: all .2s ease-in-out;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.grow:hover {
    font-size: 150%;
    cursor: pointer;
}

.grow.green:hover {
    color: #4BBF73 !important;
}