.jumbotron { 
    
    background:
        /* colour overlay */
        linear-gradient(
            rgba(66, 134, 244, 0.45), 
            rgba(0, 0, 0, 0.45)
        ),
        /* image */
        url("../assets/img/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}                    